@import "./reset.scss";

$메인컬러: white;

.red {
  color: $메인컬러;
  background-color: rgb(223, 190, 101);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

div.container {
  h4 {
    color: blue;
  }
  p {
    color: pink;
  }
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
