@import "./reset.scss";

$메인컬러: #ff0000;

.red {
  color: $메인컬러;
  background-color: grey;
}

div.container {
  h4 {
    color: blue;
  }
  p {
    color: pink;
  }
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
